<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjektuppgiftAndroidutveckling"
        tools:targetApi="31">
        <activity
            android:name=".PaymentComfirmation"
            android:exported="false" />
        <activity
            android:name=".User.CheckOutActivity"
            android:name=".User.UserChoice"
            android:exported="false" />
        <activity
            android:name=".User.UserOffersRecyclerView"
            android:exported="false" />
        <activity
            android:name=".Company.AddOffer"
            android:exported="false" />
        <activity
            android:name=".Company.OffersRecyclerView"
            android:exported="false" />
        <activity
            android:name=".Company.RestaurantChoice"
            android:exported="false" />
        <activity
            android:name=".Cart"
            android:exported="false" />
        <activity
            android:name=".User.GpsActivity"
            android:exported="false" />
        <activity
            android:name=".User.MapInfoWindowActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBZC2DBLl-NBiMqME9UQhgMdctr_S_-JQ4" />

        <activity
            android:name=".User.MapFood"
            android:exported="false"
            android:label="@string/title_activity_map_food" />
        <activity
            android:name=".User.DishesMenuRecyclerView"
            android:exported="false" />
        <activity
            android:name=".User.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".User.SupportWindow"
            android:exported="false" />
        <activity
            android:name=".User.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".User.PrivateListActivity"
            android:exported="false" />
        <activity
            android:name=".CompanyListActivity"
            android:exported="false" />
        <activity
            android:name=".User.LandingPagePrivateActivity"
            android:exported="false" />
        <activity
            android:name=".Company.AddFood"
            android:exported="false" />
        <activity
            android:name=".Company.CompanyLogInActivity"
            android:exported="false" />
        <activity
            android:name=".User.UserLogInActivity"
            android:exported="false" />
        <activity
            android:name=".CompanyActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".User.UserActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>